		<header>
            <div class="logo">
                <a href="/">PERROS DOMESTICOS</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/" onclick="seleccionar()">INICIO</a></li>
                    <li><a href="/pastor" onclick="seleccionar()">PASTOR ALEMAN</a></li>
                    <li><a href="/golden" onclick="seleccionar()">GOLDEN RETRIVER</a></li>
                    <li><a href="/pequines" onclick="seleccionar()">PEQUINES</a></li>
    
                </ul>
            </nav>
            <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>