<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>GOLDEN </title>
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/normalize.css" />
</head>
<body>
    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        <!-- Header -->
        {{> header}}
    </div>

    <section id="inicio" class="inicio">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="/images/golden1.jfif" alt="Imagen de portada de perros domésticos">
            </div>
            <h1>PASTOR ALEMAN</h1>
            <h2>El golden retriever es un perro de tamaño mediano a grande, conocido por su carácter amigable, leal y cariñoso. Tiene un pelaje denso, liso o ligeramente ondulado, de color dorado, y es resistente al agua. Sus ojos expresivos y oscuros muestran su naturaleza amistosa e inteligente. Son perros muy activos, ideales para familias, y destacan en actividades como la caza, la asistencia a personas y el trabajo de búsqueda y rescate, además de ser excelentes mascotas por su naturaleza sociable y gentil.</h2>

            <!-- Imágenes Adicionales -->
            <div class="imagenes-adicionales">
                <div class="imagen-extra">
                    <img src="/images/golden2.jfif" alt="Imagen de un perro jugando">
                </div>
            </div>

            <!-- Video de YouTube -->
            <div class="video-youtube">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/dfdPn4pF9Ec?si=T_sD8HIKP7gicEYA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {{> footer}}
</body>
</html>

