
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>PERROS DOMESTICOS</title>
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/normalize.css" />
</head>
<body>
    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        <!-- Header -->
        {{> header}}
    </div>

    <!-- SECCION INICIO -->
    <section id="inicio" class="inicio">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="/images/PORTADA.jpg" alt="Imagen de portada de perros domésticos">
            </div>
            <h1>PERROS DOMESTICOS</h1>
            <h2>Los perros domésticos son compañeros leales y cariñosos que han vivido junto a los humanos durante miles de años. Son conocidos por su inteligencia, sociabilidad y capacidad para adaptarse a diversos entornos, lo que los convierte en excelentes mascotas y amigos. Además, cada raza tiene características únicas, lo que les permite cumplir diferentes roles, desde guardianes y cazadores hasta animales de compañía para familias.</h2>
          

            <!-- Imágenes Adicionales -->
            <div class="imagenes-adicionales">
                <div class="imagen-extra">
                    <img src="/images/imagen2.avif" alt="Imagen de un perro jugando">
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    {{> footer}}
</body>
</html>
