<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>PASTOR ALEMAN</title>
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/normalize.css" />
</head>
<body>
    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        <!-- Header -->
        {{> header}}
    </div>

<section id="inicio" class="inicio">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="/images/pastor aleman.jfif" alt="Imagen de portada de perros domésticos">
            </div>
            <h1>PASTOR ALEMAN</h1>
            <h2>El pastor alemán es un perro grande y robusto, conocido por su inteligencia, lealtad y capacidad de trabajo. Tiene un cuerpo musculoso y bien proporcionado, con un pelaje denso que puede ser de color negro y fuego, negro sólido o sable. Sus orejas son erguidas y puntiagudas, y su mirada es atenta y alerta. Es una raza versátil utilizada en tareas como la vigilancia, el pastoreo, la búsqueda y rescate, y es también un excelente compañero y protector familiar.</h2>
          

            <!-- Imágenes Adicionales -->
            <div class="imagenes-adicionales">
                <div class="imagen-extra">
                    <img src="/images/pastor aleman2.jfif" alt="Imagen de un perro jugando">
                </div>

            </div>
        </div>
    </section>




        <!-- Footer -->
    {{> footer}}
</body>
</html>
