<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>PEQUINES</title>
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/normalize.css" />
</head>
<body>
    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        <!-- Header -->
        {{> header}}
    </div>

<section id="inicio" class="inicio">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="/images/PE1.jfif" alt="Imagen de portada de perros domésticos">
            </div>
            <h1>PEQUINES</h1>
            <h2>El Pekinés es una antigua raza de perro de origen chino, conocida por su apariencia distintiva y su historia noble. Se caracteriza por su pequeño tamaño, hocico corto, cuerpo compacto y un pelaje largo y denso que suele requerir cuidado regular. Sus ojos grandes y expresivos, junto con su cara arrugada, le dan una apariencia única.</h2>
          

            <!-- Imágenes Adicionales -->
            <div class="imagenes-adicionales">
                <div class="imagen-extra">
                    <img src="/images/P2.jfif" alt="Imagen de un perro jugando">
                </div>

            </div>
        </div>
    </section>




        <!-- Footer -->
    {{> footer}}
</body>
</html>
